#root {
  margin: 0 auto;
  max-width: 1280px;
  position: relative;
  padding: 2rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--slate-700);
}
.logo {
  color: var(--slate-100);
}
.navbar .heart .icon {
  color: var(--rose-500);
}
.search-result {
  color: var(--slate-500);
}
.main {
  display: flex;
  justify-content: space-between;
}
.template {
  background-color: var(--slate-800);
  border-radius: 1rem;
  margin-top: 1rem;
}
.character-list {
  width: 30%;
}
.character {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  width: 100%;
}
.character img {
  width: 23%;
  border-radius: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* height: 100%; */
  padding: 0.5rem;
  color: var(--slate-300);
}

.name {
  display: flex;
  color: var(--slate-300);
  font-size: 0.9rem;
}
.status {
  display: inline-block;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: var(--green-600);
}
.status.red {
  background-color: var(--rose-600);
}
.red {
  color: var(--rose-500);
  margin-left: 0.2rem;
}
.detail-component {
  width: 60%;
}
.character-details {
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
}
.character-details__img {
  border-radius: 10px 0 0 10px;
  width: 30%;
  height: 100%;
}
.character-details__info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--slate-300);
  padding: 1.5rem;
}
.location p:nth-child(1) {
  padding-top: 1rem;
  color: var(--slate-500);
}
.location p:nth-child(2) {
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .character-list {
    width: 100%;
  }
  .character-list img {
    width: 15%;
  }
  .detail-component {
    width: 100%;
  }
  .detail-component img {
    width: 35%;
  }
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
