#root {
  margin: 0 auto;
  max-width: 1280px;
  position: relative;
  padding: 1rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--slate-700);
}
.logo {
  color: var(--slate-100);
}
.navbar .heart {
  color: var(--rose-500);
  position: relative;
}
.heart .icon {
  width: 2rem;
  height: 2rem;
}
.heart .badge {
  position: absolute;
  top: -0.3rem;
  right: -0.5rem;
  color: #fff;
  background-color: var(--rose-500);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5px;
  height: 5px;
  padding: 0.6rem;
}

.search-result {
  color: var(--slate-500);
}
.main {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.template {
  background-color: var(--slate-800);
  border-radius: 1rem;
  margin-top: 1rem;
}
.character-list {
  width: 30%;
}
.character {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  /* width: 100%; */
}
.character img {
  width: 4rem;
  border-radius: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* height: 100%; */
  padding: 0.5rem;
  color: var(--slate-300);
}

.name {
  display: flex;
  color: var(--slate-300);
  font-size: 0.9rem;
}
.status {
  display: inline-block;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: var(--green-600);
}
.status.red {
  background-color: var(--rose-600);
}
.red {
  color: var(--rose-500);
  margin-left: 0.2rem;
}
.detail-component {
  width: 60%;
}
.character-details {
  /* height: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.character-details__img {
  width: 50%;
}
.character-details__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--slate-300);
  padding: 1.5rem;
  width: 40%;
}
.location p:nth-child(1) {
  padding-top: 1rem;
  color: var(--slate-500);
}
.location p:nth-child(2) {
  font-weight: bold;
}

.character-episode__title {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--slate-400);
}
.character-episode .character-episode__title .icon {
  transition: all 0.3s ease-in-out;
}
.episode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem 0.5rem 0.5rem;
  color: var(--slate-300);
}
.episode:not(:nth-child(1)) {
  margin-top: 1rem;
}
.light-text {
  color: var(--slate-300);
}
@media screen and (max-width: 768px) {
  * {
    font-size: 7px;
  }
  .character-details {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
  }
  .character-details img {
    width: 100%;
  }
  .character-details__info {
    width: 100%;
    align-items: center;
  }
  .character-list {
    width: 35%;
  }
  .character-list img {
    width: 3rem;
  }
  .detail-component {
    width: 60%;
  }
  .main {
    justify-content: space-around;
  }
}
@media only screen and (min-width: 769px) and (max-width: 860px) {
  .character-list {
    width: 35%;
  }
  .detail-component {
    width: 63%;
  }
  .character-details img {
    width: 58%;
  }
  .character-details__info {
    width: 42%;
  }
  .btn--primary {
    padding: 0.5rem !important;
    margin-top: 0.5rem;
  }
}
.show-favorite {
  background-color: var(--slate-200) !important;
  color: red !important;
}
